<!DOCTYPE html>
<html>
<head>
  <title>Node.js, Express, SQLite, and Docker </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0"></script>
</head>
<body class="bg-gradient-to-r from-pink-500 to-purple-500">
  <div class="flex flex-col items-center justify-center py-5">
    <h1 class="text-4xl font-bold mb-8 text-white">Node.js, Express, SQLite & Docker 🐳</h1>
    <p class="text-lg text-gray-300 mt-4">
      A simple showcase of these powerful technologies working together .
    </p>
    <div class="flex mt-8 justify-center space-x-4 ">
      <a href="/quotes" 
      class="m-4 font-bold text-xl p-4 bg-white rounded-lg shadow-lg hover:text-blue-700 hover:underline">
        Get Quotes 
      </a>
      <a href="/products" class="m-4 font-bold text-xl p-4 bg-white rounded-lg shadow-lg hover:text-blue-700 hover:underline">
        Browse Products ️
      </a>
    </div>
  </div>
</body>
</html>
