<!DOCTYPE html>
<html>
<head>
    <title>Products</title>

  <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@3.2.19/dist/tailwind.min.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0"></script>
</head>
<body class="bg-gradient-to-r from-pink-500 to-purple-500 h-screen">
    <!-- make home btn to index -->
    <a href="/" class="text-white text-2xl font-bold  border-gray-300 rounded-lg  bg-gradient-to-r from-violet-500 to-purple-500 p-4 ">Home 🏠</a>
   
    <div class="flex flex-col items-center justify-center py-5">
        <h1 class="text-4xl font-bold mb-8 text-white">Products ❤️</h1>
        
  <!-- <div   > -->
        <div id="products" class="flex flex-row justify-center" hx-get="/products/data" hx-trigger="load, prodFetch" hx-target="#products" hx-swap="innerHTML">
        </div>
  <!-- </div> -->
        <form hx-post="/products/" hx-target="#products" class="mt-8 bg-white rounded-lg p-7 shadow-md" >
            <div class="flex flex-col space-y-2">
                <label for="name" class="font-bold text-gray-700">Name:</label>
                <input type="text" name="name" id="name" class="px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-blue-500 focus:ring-2">
                <label for="category" class="font-bold text-gray-700">Category:</label>
                <textarea name="category" id="category" rows="4" class="px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-blue-500 focus:ring-2"></textarea>
                <label for="price" class="font-bold text-gray-700">Price:</label>
                <input type="number" name="price" id="price" step="0.01" class="px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-blue-500 focus:ring-2">
                <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700">
                    Create Product
                </button>
            </div>
        </form>
    </div>
</body>
</html>
